.sidebar {
  width: 64px;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
}

.icon-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.bottom-icon {
  margin-bottom: 1rem;
}

.sidebar-icon {
  width: 48px;    /* tamaño fijo, x2 del original */
  height: 48px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sidebar-icon:hover {
  transform: scale(1.1);
}
